
<h1></h1>
<div class="container">
  <div class="row">

    <div class="col-lg-4" style="background-color: orange;">
      <h2>サイドバー</h2>
    </div>
     <div class="col-lg-8">

<table class="table table-striped">
<%= link_to 'New Post', new_book_path, class: "btn btn-secondary" %>
</table>
</div>
</div>
</div>